html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
p,
div,
a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 850px;
  position: relative;
}
header .header-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header .header-container .top-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .header-container .top-header .top-header-left-aside {
  display: flex;
  align-items: center;
}
header .header-container .top-header .top-header-left-aside .header-logo {
  margin-right: 30px;
}
header .header-container .top-header .top-header-left-aside .header-select select {
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
}
header .header-container .top-header .top-header-left-aside .header-select select:hover {
  background-color: #2e73fe;
}
header .header-container .top-header .top-header-right-aside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-container .top-header .top-header-right-aside .header-menu a {
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
header .header-container .top-header .top-header-right-aside .header-menu a:last-child {
  border-right: 1px solid #fff;
  padding-right: 30px;
}
header .header-container .top-header .top-header-right-aside .header-menu a:hover {
  color: #00f9ff;
}
header .header-container .top-header .top-header-right-aside .enter-site {
  display: flex;
  align-items: center;
}
header .header-container .top-header .top-header-right-aside .enter-site .log-in button {
  color: #fff;
  margin-right: 30px;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
header .header-container .top-header .top-header-right-aside .enter-site .log-in button:hover {
  border: 1px solid #fff;
}
header .header-container .top-header .top-header-right-aside .enter-site .log-in button:active {
  transform: scale(1.1);
}
header .header-container .top-header .top-header-right-aside .enter-site .log-in span {
  display: none;
}
header .header-container .top-header .top-header-right-aside .enter-site .sign-up button {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
header .header-container .top-header .top-header-right-aside .enter-site .sign-up button:hover {
  border: 1px solid #fff;
}
header .header-container .top-header .top-header-right-aside .enter-site .sign-up button:active {
  transform: scale(1.1);
}
header .header-container .top-header .top-header-right-aside .enter-site .sign-up span {
  display: none;
}
header .header-text-btn {
  margin-top: 100px;
}
header .header-text-btn .header-text {
  margin-bottom: 30px;
}
header .header-text-btn .header-text h2 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 70px;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
header .header-text-btn .header-text p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-align: center;
  margin-top: 30px;
}
header .header-text-btn .header-btn {
  text-align: center;
}
header .header-text-btn .header-btn button {
  box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
  border-radius: 4px;
  background-image: linear-gradient(182deg, #00f9ff 0%, #00d0f1 100%);
  border: none;
  padding: 15px 50px;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
header .header-text-btn .header-btn button:active {
  transform: scale(1.1);
}
header .header-text-btn .header-btn button:hover {
  box-shadow: 0 6px 15px 0 rgba(4, 100, 138, 0.75);
  border: none;
}
.advantages {
  position: absolute;
  z-index: 100;
}
.advantages .advantages-container .advantages-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15%;
  margin-left: 25%;
  background-color: #fff;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit:first-child,
.advantages .advantages-container .advantages-cards .advantages-card-unit:nth-child(2) {
  border-bottom: 1px solid #f7f7f7;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit:nth-child(2n+1) {
  border-right: 1px solid #f7f7f7;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit .card-image {
  margin-right: 21px;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit .card-image img {
  transition: all 0.5s ease;
}
.advantages .advantages-container .advantages-cards .advantages-card-unit .card-image img:hover {
  transform: scale(1.2);
}
.advantages .advantages-container .advantages-cards .advantages-card-unit .card-content p {
  color: #1e2945;
  font-size: 15px;
  font-weight: 400;
}
.conditions {
  padding: 250px 0 150px 0;
  background-color: #f2f2f2;
  position: relative;
}
.conditions .tab-container .tab-list {
  overflow: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
.conditions .tab-container .tab-list .tab {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #000;
  font-family: "Qanelas - Regular";
  font-size: 2rem;
  font-weight: 400;
  margin-right: 30px;
  text-align: center;
}
.conditions .tab-container .tab-list .tab.active {
  color: #2e73fe;
  border-bottom: 2px solid #2e73fe;
}
.conditions .tab-container .tab-list .tab:hover {
  color: #2e73fe;
}
.conditions .tab-container .content-wrap {
  margin-top: 10px;
  position: relative;
}
.conditions .tab-container .content-wrap .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.conditions .tab-container .content-wrap .content.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.conditions .tab-container .content-wrap .content > p {
  line-height: 170%;
}
.conditions .tab-container .content-wrap .content .tab-container-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conditions .tab-container .content-wrap .content .tab-container-content .tab-container-content-text {
  width: 30%;
}
.conditions .tab-container .content-wrap .content .tab-container-content .tab-container-content-text h3 {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 40px;
  margin-bottom: 20px;
}
.conditions .tab-container .content-wrap .content .tab-container-content .tab-container-content-text p {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.brands {
  background-color: #f2f2f2;
}
.brands .brands-container {
  background-color: #fff;
}
.brands .brands-container .brands-title h4 {
  color: #1e2945;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 50px;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
}
.brands .brands-container .brands-image {
  padding-bottom: 150px;
  text-align: center;
}
.mobile-block {
  background-color: #f2f2f2;
  padding-top: 280px;
  background-image: url(../img/mobile-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mobile-block .mobile-container {
  padding: 150px 0 0 0;
  display: flex;
}
.mobile-block .mobile-container .mobile-container-left-aside {
  display: flex;
  justify-content: center;
}
.mobile-block .mobile-container .mobile-container-left-aside .mobile-container-left-aside-content {
  width: 75%;
}
.mobile-block .mobile-container .mobile-container-left-aside .mobile-container-left-aside-content h4 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 39px;
  color: #fff;
  font-family: "Qanelas - Regular";
  margin-bottom: 30px;
}
.mobile-block .mobile-container .mobile-container-left-aside .mobile-container-left-aside-content p {
  font-family: "Qanelas - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.mobile-block .mobile-container .mobile-container-right-aside {
  display: flex;
}
.mobile-block .mobile-container .mobile-container-right-aside .mobile-image-first {
  transform: translateY(-300px);
}
.mobile-block .mobile-container .mobile-container-right-aside .mobile-image-second {
  transform: translateY(-350px);
}
.info-block {
  background-color: #f2f2f2;
  padding: 0 0 200px 0;
}
.info-block .info-container h3 {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 39px;
  margin-bottom: 32px;
}
.info-block .info-container .info-container-text .info-left-aside {
  float: left;
  width: 50%;
  margin-right: 100px;
}
.info-block .info-container .info-container-text .info-left-aside p {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.info-block .info-container .info-container-text .info-right-aside p {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f2f2f2;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 150px 0 100px;
}
footer .footer-container .footer-information h5 {
  color: #1e2945;
  font-family: "Qanelas - Medium";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .footer-container .footer-information ul li {
  margin-bottom: 10px;
}
footer .footer-container .footer-information ul li a {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.5s ease;
}
footer .footer-container .footer-information ul li a:hover {
  color: rgba(18, 1, 255, 0.966);
}
footer .footer-container .footer-trader h5 {
  color: #1e2945;
  font-family: "Qanelas - Medium";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .footer-container .footer-trader ul li {
  margin-bottom: 10px;
}
footer .footer-container .footer-trader ul li a {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.5s ease;
}
footer .footer-container .footer-trader ul li a:hover {
  color: rgba(18, 1, 255, 0.966);
}
footer .footer-container .footer-contact h5 {
  color: #1e2945;
  font-family: "Qanelas - Medium";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .footer-container .footer-contact ul li {
  margin-bottom: 10px;
}
footer .footer-container .footer-contact ul li a {
  color: #1e2945;
  font-family: "Qanelas - Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.5s ease;
}
footer .footer-container .footer-contact ul li a:hover {
  color: rgba(18, 1, 255, 0.966);
}
footer .footer-container .footer-app-btns img {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
footer .footer-container .footer-app-btns img:hover {
  transform: scale(1.1);
}
footer .footer-container .footer-social .social-icons {
  margin-bottom: 30px;
}
footer .footer-container .footer-social .social-icons img {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
footer .footer-container .footer-social .social-icons img:hover {
  transform: scale(1.1);
}
footer .footer-container .footer-social .footer-logo img {
  transition: all 0.5s ease;
}
footer .footer-container .footer-social .footer-logo img:hover {
  transform: scale(1.1);
}
