// out: ../css/media.css

@blue: rgb(33,194,248);

@media (max-width: 1200px) {
    .wrap {
        padding: 0 15px;
    }

    header {
        .header-container {
            .top-header {
                .top-header-left-aside {
                    .header-logo {
                        img {
                        }
                    }
                    .header-dropdown {
                        .drop-btn {
                            span {
                               
                            }
                        }
                        .drop-menu {
                            
                            ul {
                                li {
                                    a {
                                      
                                    }
    
                                }
                            }
                        }
                    }
                }
                .top-header-right-aside {
                    .header-menu {
                        a {
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .enter-site {
    
                        .log-in {
                            button {
                            }
                        }
                        .sign-up {
        
                            button {
                            }
                        }
                        
                    }
                }
            }
        }
        .header-text-btn {
            .header-text {
    
    
                h2 {
                   
                }
    
                p {
                   
                }
            }
    
            .header-btn {
    
                button {
    
                }
            }
            
        }
    }
    
    .advantages {
       
    
        .advantages-container {
            .advantages-cards {
                margin-left: 1%;
                margin-right: 1%;
    
    
                .advantages-card-unit {
                    
     
                    .card-image {
    
    
                        img {
    
                        }
                    }
                    .card-content {
                        p {
                           
                        }
                    }
                }
            }
        }
    }
    
    .conditions {
        
    
    
        .tab-container {
            .tab-list {
                
        
                .tab {
                  
                    
                }
            }
            .content-wrap {
               
                .content {
                    
    
                    
                    > p {
                        
                    }
                    
                    .tab-container-content {
                       
    
                        .tab-container-content-text {
                         
    
                            h3 {
                                
                            }
    
                            p {
                               
                            }
                        }
                        .tab-container-content-image {
                            img {
    
                            }
                        }
                    }
                }
            }
        }
    }
    
    .brands {
        
    
        .brands-container {
            
    
            .brands-title {
                h4 {
                   
                }
            }
            .brands-image {
              
                img {
                    width: 800px;
                }
            }
        }
    }
    
    .mobile-block {
        .mobile-container {
            .mobile-container-left-aside {
                .mobile-container-left-aside-content {
                    transform: translateY(-35%);
                    h4 {
                        font-size: 2rem;
                    }
                    p {
                       font-size: 1rem;
                    }
                }
            }
            .mobile-container-right-aside {
                .mobile-image-first {
                  
    
                    img {
                        width: 200px;
                    }
                }
                .mobile-image-second {
                    
    
                    img {
                        width: 200px;

                    }
                }
            }
        }
    }
    
    .info-block {
       
    
        .info-container {
            h3 {
                font-size: 2rem;
                text-align: center;
            }
            .info-container-text {
                padding: 0 50px;
                .info-left-aside {
                   
                    
                    p {
                        font-size: 1.1rem;
                    }
                }
    
                .info-right-aside {
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    
    footer {
       
    
        .footer-container {
            
    
            .footer-information {
                h5 {
                  
                }
                ul {
                    li {
                        a {
                            
    
                            
                        }
                    }
                }
            }
            .footer-trader {
                h5 {
                    
                }
                ul {
                    li {
                        a {
                            
                        }
                    }
                }
            }
            .footer-contact {
                h5 {
                   
                }
                ul {
                    li {
                        a {
                           
                        }
                    }
                }
            }
            .footer-app-btns {
    
                img {
                    display: block;
                    
                    &:first-child {
                        margin-bottom: 20px; 
                    }
    
                   
                }
            }
            .footer-social {
                .social-icons {
                  
                    img {
                       
    
    
                        
                    }
                }
                .footer-logo {
                    img {
                        
                        
                    }
                }
            }
        }
    }

}

@media (max-width: 900px) {
    header {
        .header-container {
            .top-header {
                flex-direction: column;

                .top-header-left-aside {
                    justify-content: space-between;
                    
                    .header-logo {
                       
                        
                        img {
                        }
                    }
                    .header-dropdown {
                        .drop-btn {
                            span {
                               
                            }
                        }
                        .drop-menu {
                            
                            ul {
                                li {
                                    a {
                                      
                                    }
    
                                }
                            }
                        }
                    }
                }
                .top-header-right-aside {
                    justify-content: space-around;

                    .header-menu {
                        a {
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                    .enter-site {
    
                        .log-in {
                            button {
                            }
                        }
                        .sign-up {
        
                            button {
                            }
                        }
                        
                    }
                }
            }
        }
        .header-text-btn {
            margin-top: 100px;

            .header-text {
    
    
                h2 {
                    font-size: 3rem;
                }
    
                p {
                   
                }
            }
    
            .header-btn {
    
                button {
    
                }
            }
            
        }
    }
    
    .advantages {
       
    
        .advantages-container {
            .advantages-cards {
               
    
    
                .advantages-card-unit {
                    padding: 20px;
     
                    .card-image {
    
    
                        img {
    
                        }
                    }
                    .card-content {
                        p {
                           
                        }
                    }
                }
            }
        }
    }
    
    .conditions {
        padding-top: 200px;
    
    
        .tab-container {
            .tab-list {
                margin-bottom: 50px;
        
                .tab {
                  text-align: center;
                    
                }
            }
            .content-wrap {
               
                .content {
                    
    
                    
                    > p {
                        
                    }
                    
                    .tab-container-content {
                       
    
                        .tab-container-content-text {
                            width: 50%;
    
                            h3 {
                                font-size: 2rem;
                            }
    
                            p {
                               font-size: 1rem;
                            }
                        }
                        .tab-container-content-image {
                            img {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .brands {
        
    
        .brands-container {
            
    
            .brands-title {
                h4 {
                    font-size: 2rem;

                }
            }
            .brands-image {
              
                img {
                    width: 500px;
                }
            }
        }
    }
    
    .mobile-block {
        padding-top: 220px;
        .mobile-container {
            padding: 50px 0 0 0;

            .mobile-container-left-aside {
                .mobile-container-left-aside-content {
                    transform: translateY(-40%);

                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: 5px;
                    }
                    p {
                    font-size: 0.9rem;
                    }
                }
            }
            .mobile-container-right-aside {
                .mobile-image-first {
                    transform: translateY(-170px);
    
                    img {
                        width: 150px;
                    }
                }
                .mobile-image-second {
                    transform: translateY(-200px);
    
                    img {
                        width: 150px;

                    }
                }
            }
        }
    }
    
    .info-block {
       padding: 0;
    
        .info-container {
            h3 {
                font-size: 1.8rem;
                text-align: center;
            }
            .info-container-text {
                .info-left-aside {
                   margin-right: 50px;
                    
                    p {
                       font-size: 1rem;
                    }
                }
    
                .info-right-aside {
                    p {
                        font-size: 1rem;

                    }
                }
            }
        }
    }
    
    footer {
       
    
        .footer-container {
            flex-wrap: wrap;
            justify-content: space-around;
    
            .footer-information {
                padding-right: 50px;
                h5 {
                  
                }
                ul {
                    li {
                        a {
                            
    
                            
                        }
                    }
                }
            }
            .footer-trader {
                h5 {
                    
                }
                ul {
                    li {
                        a {
                            
                        }
                    }
                }
            }
            .footer-contact {
                h5 {
                   
                }
                ul {
                    li {
                        a {
                           
                        }
                    }
                }
            }
            .footer-app-btns {
                margin-top: 0px;

                img {
                    width: 100px;
    
                   
                }
            }
            .footer-social {
                margin-top: 20px;

                .social-icons {
                  
                    img {
                        width: 32px;
    
    
                        
                    }
                }
                .footer-logo {
                    img {
                        
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        min-height: 800px;
        .header-container {
            padding: 0;
            .top-header {
                padding: 20px 0;
                .top-header-left-aside {
                    margin-bottom: 10px;
                    .header-logo {
                        img {
                        }
                    }
                    .header-dropdown {
                        margin: 0;

                        .drop-btn {
                            padding: 0;

                            span {
                               
                            }
                        }
                        .drop-menu {
                            
                            ul {
                                li {
                                    a {
                                      
                                    }
    
                                }
                            }
                        }
                    }
                }
                .top-header-right-aside {
                    margin-top: 10px;
                    justify-content: space-between;
                    .header-menu {
                        a {
                            margin-right: 10px;
                        }
                    }
                    .enter-site {
    
                        .log-in {
                            button {
                                display: none;
                            }
                            span {
                                display: block;
                                color: #fff;
                                margin-right: 10px;
                            }
                        }
                        .sign-up {
        
                            button {
                                display: none;
                            }
                            span {
                                display: block;
                                color: #fff;

                            }
                        }
                        
                    }
                }
            }
        }
        .header-text-btn {
            margin-top: 0px;
            .header-text {
    
    
                h2 {
                 font-size: 2.5rem;
                 line-height: 50px;  
                }
    
                p {
                   
                }
            }
    
            .header-btn {
    
                button {
    
                }
            }
            
        }
    }
    
    .advantages {
       
    
        .advantages-container {
            .advantages-cards {
                margin-top: -70%;
    
    
                .advantages-card-unit {
                    width: 100%;
     
                    .card-image {
    
    
                        img {
    
                        }
                    }
                    .card-content {
                        p {
                           
                        }
                    }
                }
            }
        }
    }
    
    .conditions {
        padding: 220px 0 50px 0;
    
    
        .tab-container {
            .tab-list {
                flex-direction: column;
        
                .tab {
                  
                    
                }
            }
            .content-wrap {
               
                .content {
                    
    
                    
                    > p {
                        
                    }
                    
                    .tab-container-content {
                        display: block;
    
                        .tab-container-content-text {
                            width: 100%;
                            margin-bottom: 30px;
    
                            h3 {
                              text-align: center;  
                            }
    
                            p {
                                font-size: 1.1rem;
                                text-align: center;
                            }
                        }
                        .tab-container-content-image {
                            text-align: center;
                            img {
    
                            }
                        }
                    }
                }
            }
        }
    }
    
    .brands {
        
    
        .brands-container {
            transform: translateY(-15%);
    
            .brands-title {
                h4 {
                    font-size: 1rem;
                    margin-bottom: 0;
                    padding-top: 20px;
                }
            }
            .brands-image {
                padding-bottom: 35px;
                img {
                    width: 260px;
                }
            }
        }
    }
    
    .mobile-block {
        padding: 0 0 20px 0;
        background-image: none;
        background-color: #2e73fe;
        .mobile-container {
            display: block;
            .mobile-container-left-aside {
                .mobile-container-left-aside-content {
                    width: 100%;
                    transform: none;
                    margin-bottom: 30px;
                    h4 {
                        font-size: 1.5rem;
                        text-align: center;
                        font-weight: bold;
                    }
                    p {
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }
            .mobile-container-right-aside {
                justify-content: center;

                .mobile-image-first {
                    transform: none;
    
                    img {
                        height: 250px;
                    }
                }
                .mobile-image-second {
                    transform: none;
    
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }
    
    .info-block {
       
    
        .info-container {
            h3 {
                padding-top: 30px;
                margin-bottom: 15px;
                text-align: center;
            }
            .info-container-text {
                padding: 0 20px;
                .info-left-aside {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;

                    p {
                    }
                }
    
                .info-right-aside {
                    p {

                    }
                }
            }
        }
    }
    
    footer {
       
    
        .footer-container {
            display: block;
            padding-bottom: 20px;
            text-align: center;
    
            .footer-information {
                margin-bottom: 40px;
                padding-right: 0;

                h5 {
                  
                }
                ul {
                    li {
                        a {
                            
    
                            
                        }
                    }
                }
            }
            .footer-trader {
                margin-bottom: 40px;
                h5 {
                    
                }
                ul {
                    li {
                        a {
                            
                        }
                    }
                }
            }
            .footer-contact {
                margin-bottom: 40px;
                h5 {
                   
                }
                ul {
                    li {
                        a {
                           
                        }
                    }
                }
            }
            .footer-app-btns {
                img {
                    margin: 0 auto;
 
    
                   
                }
            }
            .footer-social {
                .social-icons {
                  
                    img {
                       
    
    
                        
                    }
                }
                .footer-logo {
                    img {
                        
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {

    

}